.githubButton {
    width: 24px;
    height: 24px;
    background: transparent;
    border: none;
}

.githubButton:hover {
    cursor: pointer;
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}