.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.flexCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.w100 {
    width: 100%;
}